<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="renderer" content="webkit">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>登录</title>
		<script src="./js/vue.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
		<script type="text/javascript" src="js/swipe.js"></script>
		<script type="text/javascript" src="js/jquery.sslide.js"></script>
		<link type="text/css" rel="stylesheet" href="font/iconfont.css">
		<link type="text/css" rel="stylesheet" href="css/public.css">
		<link rel="stylesheet" type="text/css" href="css/loan.css">
	</head>
<body>
	<div id="app">
		<!-- 标题 -->
		<div class="T-head line50 center fs16 ftw pr Tfix-head white">
			<a class="back-next pa" href="javascript:history.go(-1);"><i class="iconfont white">&#xe667;</i></a>登录
		</div>
		<div class="loginBox">
			<img class="loginPic" src="images/icon5.png" alt="" width="100%">
			<div class="loginCont">
				<div class="login_nav">
					<span :class="num==1?'on':''" @click="change('1')">登录</span>
					<span :class="num==2?'on':''" @click="change('2')">注册</span>
				</div>
				
				<!-- 密码登录 -->
				<div class="loginLis"  v-show="!is_show" v-if="num==1">
					<ul>
						<li>
							<i class="icon iconfont">&#xe615;</i>
							<div class="r">
								<input class="edit" v-model="submitData.login_name" maxlength="11" type="number" placeholder="请输入手机号码" onkeyup="this.value=this.value.replace(/\D/g,'')" />
							</div>
						</li>
						<li>
							<i class="icon iconfont">&#xe629;</i>
							<div class="r">
								<input class="edit" v-model="submitData.password" type="password" placeholder="请输入登录密码"  />
							</div>
						</li>
					</ul>
					<div class="oh"><span style="padding: 10px 5px 0 5px;float: right;" @click="showLogin">验证码登录</span></div>
					<div class="submitBtn">
						<button class="pubBtn" type="submit"  @click="submit">确定</button>
					</div>
				</div>
				
				<!-- 验证码登录 -->
				<div class="loginLis" v-show="is_show" v-if="num==1">
					<ul>
						<li>
							<i class="icon iconfont">&#xe615;</i>
							<div class="r">
								<input v-model="submitData.login_name" class="edit" maxlength="11" type="text" placeholder="请输入手机号码" onkeyup="this.value=this.value.replace(/\D/g,'')" />
								<span class="hqyzm">获取验证码</span>
							</div>
						</li>
						<li>
							<i class="icon iconfont">&#xeaa0;</i>
							<div class="r">
								<input  class="edit" v-model="submitData.code" type="text" placeholder="请输入验证码"  onkeyup="this.value=this.value.replace(/\D/g,'')" />
							</div>
						</li>
					</ul>
					<div class="oh"><span style="padding: 10px 5px 0 5px;float: right;"  @click="showLogin">密码登录</span></div>
					<div class="submitBtn">
						<button class="pubBtn" type="submit">确定</button>
					</div>
				</div>
				
				<!-- 注册信息 -->
				<div class="loginLis"  v-if="num==2">
					<ul>
						<li>
							<i class="icon iconfont">&#xe615;</i>
							<div class="r">
								<input class="edit" v-model="submitData.login_name" maxlength="11" type="number" placeholder="请输入手机号码" onkeyup="this.value=this.value.replace(/\D/g,'')" />
								<span class="hqyzm">获取验证码</span>
							</div>
						</li>
						<li>
							<i class="icon iconfont">&#xeaa0;</i>
							<div class="r">
								<input class="edit" v-model="submitData.code" type="number" placeholder="请输入验证码" onkeyup="this.value=this.value.replace(/\D/g,'')" />
							</div>
						</li>
						<li>
							<i class="icon iconfont">&#xe629;</i>
							<div class="r">
								<input class="edit" type="password" v-model="submitData.password" placeholder="请输入登录密码"  />
							</div>
						</li>
					</ul>
					<div class="submitBtn">
						<button class="pubBtn" type="submit" @click="register">确定</button>
					</div>
				</div>
				
				
				
			</div>
		</div>
		
		
		
	</div>
</body>

	
<script type="text/javascript">
		var app = new Vue({
		    el: '#app',
		    data:function(){
		        return {
					is_show:false,
					submitData:{
						login_name:'',
						password:'',
						code:'',
						phone:''
					},
					num:1,
					paginate: { 
					    count: 0, 
					    currentPage: 1, 
					    pagesize:6, 
					    is_page: true, 
					},
					searchItem:{ 
						thirdapp_id: 2,
						title:['in',[' ',' ']]
					}
		        }
		    },
		    methods: {
				change(num){
					const self=this;
					if(num!=self.num){
						self.num = num
					}
				},
				
				showLogin(){
					const self=this;
					self.is_show=!self.is_show
				},
				
				submit() {
					const self = this;
					const postData = {
						data:{
							login_name: self.submitData.login_name,
							password:self.submitData.password
						}				
					};	
					/* postData.smsAuth = {
						phone:self.submitData.login_name,						
						code:self.submitData.code					,
					}; */
					var newObject = window.base.cloneForm(self.submitData);
					delete newObject.code;
					delete newObject.phone;
					if (window.base.checkComplete(newObject)) {
						const callback = (res) => {
							if (res.solely_code == 100000) {
								localStorage.setItem('user_token', res.token);
								localStorage.setItem('user_no', res.info.user_no);						
								window.base.setStorageArray('user_info', res.info, 'id', 999, 'unshift');
								window.history.back(-1); 								
							} else {
								alert(res.msg)
							}
						}
						window.base.login(postData, callback);
					} else {
						alert('请输入账号密码', 'none')
					};
				},
				
				register() {
					const self = this;
					
					const postData = {
						data:{
							login_name:self.submitData.login_name,
							password:self.submitData.password,	
						}						
					}
					/* postData.smsAuth = {						
						phone:self.submitData.phone,						
						code:self.submitData.code					,
					}; */
					var newObject = window.base.cloneForm(self.submitData);
					delete newObject.phone;
					if (window.base.checkComplete(newObject)) {
						
					
						
						const callback = (res) => {
							if (res.solely_code == 100000) {
								alert(res.msg)
								self.submitData = {																
									phone:'',
									code:'',
									login_name:'',
									password:''
								};
								self.num = 1;
								self.is_show = false						
							} else {
								alert(res.msg)
							}
						}
						window.base.register(postData, callback);
					} else {
						alert('请补全信息', 'none')
					};
				},
				
				
		    }
		});
	</script>
</html>