<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="renderer" content="webkit">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>个人信息</title>
		<script src="./js/vue.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
		<script type="text/javascript" src="js/swipe.js"></script>
		<script type="text/javascript" src="js/jquery.sslide.js"></script>
		<link type="text/css" rel="stylesheet" href="font/iconfont.css">
		<link type="text/css" rel="stylesheet" href="css/public.css">
		<link rel="stylesheet" type="text/css" href="css/loan.css">
	</head>
<body>
	<div id="app">
		<!-- 标题 -->
		<div class="T-head line50 center fs16 bgwhite ftw pr Tfix-head bordB1">
			<a class="back-next pa" href="javascript:history.go(-1);"><i class="iconfont">&#xe667;</i></a>
			个人信息
		</div>
		<div class="h50"></div>
		
		<div class="userInfor">
			<form action="" method="">
				<ul>
					<li>
						<span class="name">电话：</span>
						<input class="edit" v-model="submitData.phone" type="number" placeholder="请输入您的电话" onkeyup="this.value=this.value.replace(/\D/g,'')"  maxlength="11">
					</li>
					<li>
						<span class="name">验证码：</span>
						<input class="edit" style="width: 50%;" v-model="submitData.code" type="number" placeholder="请输入验证码" onkeyup="this.value=this.value.replace(/\D/g,'')" >
						
						<span class="yamTest"  @click="sendCode" v-if="!hasSend">{{text}}</span>
						<span class="yamTest" v-if="hasSend">{{text}}</span>
					</li>
				</ul>
			</form>
			<div   style="width: 80%;margin: 100px auto 50px auto;">
				<div @click="userInfoUpdate" class="pubBtn" >确认</div>
			</div>
		</div>
		

	</div>
</body>

	
<script type="text/javascript">
		var app = new Vue({
		    el: '#app',
		    data:function(){
		        return {
					is_show:false,
					mainData: {},
					submitData:{
						phone:'',
						code:''
					},
					currentTime:61,
					text:'获取验证码',
					hasSend:false,
		        }
		    },
		    created:function () {
		        var self = this;
		    	self.getMainData();	
		    	
		    },
		    methods: {
		    	
		    	
		    	getMainData: function(id){
		    	    var self = this;
		    	    var postData = {
		    			token:localStorage.getItem('user_token'),
		    		};
		    	    var callback = function(res){
		    	       if(res.solely_code==100000){
						   self.mainData = res.info.data[0]
						   
						   self.submitData.phone = self.mainData.login_name
					   }	    	       
		    	    };
		    		console.log('self.submitData',self.submitData)
		    	    window.base.userGet(postData, callback);
		    	},
				
				sendCode(){
					var self = this;
					console.log(111)
					if(self.hasSend){
						return;
					};
					var phone = self.submitData.phone;
					
					if (phone.trim().length != 11 || !/^1[3|4|5|6|7|8|9]\d{9}$/.test(phone)) {
						
						alert('请输入正确的手机号码');
						return;
					}
					var postData = {
						phone:self.submitData.phone
					};
					var callback = function(res){
						if(res.solely_code==100000){
							self.hasSend = true;
							var interval = setInterval(function() {
								self.currentTime--; //每执行一次让倒计时秒数减一
							
								self.text=self.currentTime + 's';//按钮文字变成倒计时对应秒数
								
								//如果当秒数小于等于0时 停止计时器 且按钮文字变成重新发送 且按钮变成可用状态 倒计时的秒数也要恢复成默认秒数 即让获取验证码的按钮恢复到初始化状态只改变按钮文字
								if (self.currentTime <= 0) {
									clearInterval(interval)
									
									self.hasSend = true;
									self.text='重新发送';
									self.currentTime= 61;
									
								}
								
							}, 1000);
						}else{
							alert('发送失败');
						};
					};
					window.base.sendCode(postData, callback);
				},
				
				userInfoUpdate() {
					const self = this;
					console.log(111)
					const postData = {
						token:localStorage.getItem('user_token'),
						data:{
							phone:self.submitData.phone,
						}						
					}
					postData.smsAuth = {						
						phone:self.submitData.phone,						
						code:self.submitData.code					,
					};
					var newObject = window.base.cloneForm(self.submitData);
					
					if (window.base.checkComplete(newObject)) {						
						const callback = (res) => {
							if (res.solely_code == 100000) {
								alert(res.msg)
								window.history.back(-1); 
							} else {
								alert(res.msg)
							}
						}
						window.base.userInfoUpdate(postData, callback);
					} else {
						alert('请补全信息', 'none')
					};
				},
				
		    }
		});
	</script>
</html>